
.skillheader{
    color: rgb(0, 251, 255);
    font-family: 'PT Serif', serif;
    font-size: 40px;
    letter-spacing: 2;
}

.flexskill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 3333333;
}
#space{
    position: relative;
    width: 100%;
    height: 60vh;
}
@media (max-width:800px) {
    #space{
        height: 20vh;
    }
}

.skillcircle{
    display: flex;
    height: 40vh;
    width: 80%;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    
}
.skillcircle .circle1{
    height: 120px;
    width: 120px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 42, 255, 0.193);
    border-radius: 50%;
}

.circle1 .skillprogressname{
  font-family: 'Lato', sans-serif;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.623);
  margin-top: 190px;
  border-radius: 10px;
  height: 40px;
  width: 130px;
 display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  visibility: hidden;
}

.skillprogressname1{
  font-family: 'Lato', sans-serif;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10px;
  height: 40px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
  z-index: 1;
  visibility: hidden;
}

.circle1:hover .skillprogressname{
  visibility: visible;
}
.circle1:hover .skillprogressname1{
  visibility: visible;
}

@media (max-width:800px){
  .skillprogressname{
    display: none;
  }
  .skillprogressname1{
    display: none;
  }
}

/* circle progress */

.circle-chart {
    width: 150px;
    height: 150px;
}
@media (max-width:800px) {
  .skillcircle{
    justify-content:space-evenly;
    width: 100%;
  }
  .skillcircle .circle1{
    height: 90px;
    width: 90px;
  }
  .circle-chart{
    width: 110px;
    height: 110px;
  }
} 
  .circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); 
  }
  
  .circle-chart__background {
    /* stroke: #efefef; */
    stroke-width: 10px;
    fill: none; 
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  .success-stroke {
    stroke: rgb(0, 217, 255);
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray:0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
#skillimage{
  height: 70px;
  width: 70px;
  position: absolute;
}




