@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Francois+One&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=PT+Serif:wght@700&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body{
    background-color:#071124; 
}
*::selection{
    background: rgb(0, 213, 255);
}
html{
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
     width: 0.7rem;
}
html::-webkit-scrollbar-track{
    background: blue;
}
html::-webkit-scrollbar-thumb{
    background: #FF4949;
}

#first{
    display: flex;
    height: 120vh;
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
/* #9900efff #0099ffff 0%, #15c6c0 */
#second{
    height: 100vh;
    background:linear-gradient(180deg, #1900ff 0%, #02eeff 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#third{
    display: flex;
    height: 150vh;
    align-items: flex-start;
    overflow: hidden;
    background-image: url(image/cardbg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#overlay{
    height: 150vh;
    width: 100%;
    background: black;
    position: absolute;
    filter: opacity(.4);
}
.introname{
    margin-top: 100px;
}
.ml15 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 100px;
}
.ml15 .word {
    display: inline-block;
    line-height: 1em;
    color: blue;
}
.ml15 .word2{
    color: red;
}
.introname h2{
    color: yellow;
    font-family: 'Merriweather', serif;
}
.threeline{
    position: absolute;
}
.sideline{
    height: 10px;
    width: 400px;
    background-color: blue;
    margin-top: 20px;
    border-radius: 0 10px 10px 0;
}
.sideline.line2{
    background-color:red;
    width: 300px;
}
.sideline.line3{
    background-color: yellow;
    width: 200px;
}
.sideline:nth-child(n){
    margin-bottom: 10px;
}

/* about section */

.aboutme{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 11;
    margin-top: 100px;

}
#myphoto{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin-right: 40px;
}
#text{
    justify-content: center;
    height: 500px;
    width: 800px;
    display: flex;
    color: white;
    letter-spacing: 5px;
    z-index: 1100;
    /* margin-left: 20px; */
    flex-wrap: wrap;
    text-align: center;
}
.wai{
    color: rgb(0, 251, 255);
    font-family: 'PT Serif', serif;
    font-size: 40px;
}


.ap{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    font-weight: 500;
    /* text-align: center; */
    color: black;
    margin-top: 0px;
    line-height: 2;
    z-index: 111;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

@media (max-width:800px) {
    #second{
        /* scroll-behavior:smooth; */
        height: 150vh;
    }
    #second::-webkit-scrollbar{
         width: 0.7rem;
    }
    #second::-webkit-scrollbar-track{
        background: rgb(238, 255, 0);
    }
    #second::-webkit-scrollbar-thumb{
        background: blue;
    }
    .sideline{
        width: 300px;
    }
    .sideline.line2{
        width: 200px;
    }
    .sideline.line3{
        width: 100px;
    }
    #second{
        height: 110vh;
        /* overflow-y:visible; */
    }
    #myphoto{
        margin-left: 50px;
        height: 300px;
        width: 300px;
    }
    .ap{
        text-align: center;
        font-size: 17px;
        margin: 0;
    }
    .aboutme{
      position: relative;
      bottom: 30px;
      width: 415px;
    }
    #text{ 
        margin: 10px;
        padding: 0;
    }
    hr{
       display: none;
    } 
    .ml15 {
      font-size: 60px;
    }
}

.social{
    /* display: none; */
    position: fixed;
    right: 25px;
    z-index: 111111111;
    border-radius: 10px;
}
.social li{
    margin: 10px;
    list-style-type: none;
}
.social li:nth-child(1){
    margin-top: 30px;
}

.social #socialul img{
    height: 40px;
} 

.social .redline{
    position: relative;
    top: -10px;
    transform: rotate(90deg);
    height: 8px;
    background-color: red;
    margin-top: 30px;
    overflow-y: hidden;
    border-radius: 0 10px 10px 0;
}
.social .redline2{
    top: -10px;
    width: 20px;
    right: -20px;
}
.social .redline3{
    background-color: blue;
    top: -20px;
    width: 10px;
    right: -25px;
    border-radius: 50%;
}
.social .redline4{
    background-color: blue;
    top: -30px;
    width: 10px;
    right: -25px;
    border-radius: 50%;
}
@media (max-width:800px){
    .social{
        right: 1px;
    }
    .social #socialul img{
        height: 30px;
    }
    .social .redline2{
        right: -15px;
    }
    .social .redline3{right: -20px;}
    .social .redline4{right: -20px;}
}

.svgwaves{
    display: flex;
    height: 150vh;
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}

#fourth{
    height: 150vh;
    background-color: #02eeff;
}

@media (max-width:800px) {
    #fourth{
        height: 120vh;
    }
}
.sades{
    display:flex;
    position: fixed;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    z-index: -1;
}

.sades .sadesline{
    height: 250px;
    width: 20px;
    background-color: rgba(0, 0, 255, 0.664);
    border-radius: 10px;
}
.sades .sadesline::before{
    content: "";
    height: 210px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.449);
    border-radius: 10px;
    position: absolute;
}
.sades .sadessmall{
    height: 200px;
    background-color: rgba(255, 0, 0, 0.642);
}

.sades .sadessmall2{
    height: 230px;
    background-color: rgba(5, 240, 240, 0.775);
}


@media (max-width:800px){
    /* .sades{
        justify-content: space-evenly; 
    } */
    .sades .sadesline{
       display: none;
    }
    .sades .sadessmall{
        display: none;
    }
    .sades .sadessmall2{
        display: none;
        
    }
}
